
[Desktop Entry]
Encoding=UTF-8
Exec=xdg-user-dirs-gtk-update
Name=User folders update
Name[ar]=تحديث مجلدات المستخدم
Name[be@latin]=Aktualizacyja katalohaŭ karystalnika
Name[bg]=Превеждане на имената на стандартните папки
Name[ca]=Actualització de les carpetes d'usuari
Name[cs]=Aktualizace uživatelských složek
Name[de]=Aktualisierung der Ordner des Benutzers
Name[el]=Ενημέρωση φακέλων χρήστη
Name[en_GB]=User folders update
Name[es]=Actualización de las carpetas del usuario
Name[eu]=Erabiltzailearen karpeten eguneraketa
Name[fi]=Vakiokansioiden päivitys
Name[fr]=Mise à jour des dossiers utilisateur
Name[hu]=Felhasználói mappák frissítése
Name[it]=Aggiorna cartelle utente
Name[ja]=ユーザ・フォルダの更新
Name[ka]=მომხმარებელთა დასტების განახლება
Name[ko]=사용자 폴더 업데이트
Name[lt]=Naudotojo aplankų atnaujinimas
Name[nb]=Oppdatering av brukermapper
Name[pl]=Aktualizacja folderów użytkownika
Name[ps]=د کارن پوښېو اوسمهالونه
Name[pt]=Actualização de pastas do utilizador
Name[pt_BR]=Atualizar pastas de usuário
Name[sk]=Aktualizácia užívateľských priečinkov
Name[sq]=Përditëso kartelat e përdoruesit
Name[sv]=Uppdatera användarmappar
Comment=Update common folders names to match current locale
Comment[af]=Dateer algemene gidsname op om te pas by die huidige lokaliteitsinstelling
Comment[ar]=حدّث أسماء المجلدات المشتركة لتطابق المحلية الحالية
Comment[be@latin]=Aktualizuj nazvy asnoŭnych katalohaŭ, kab adpaviadali dziejnaj lakalnaści
Comment[bg]=Превеждане на имената на стандартните папки към текущо ползвания език
Comment[ca]=Actualitza els noms de les carpetes comunes per a coincidir amb l'idioma actual
Comment[cs]=Aktualizovat názvy běžných složek podle aktuální lokalizace libc
Comment[de]=Namen der Standardordner auf die momentan verwendete Sprache aktualisieren
Comment[el]=Ενημέρωση ονομάτων των συνηθισμένων φακέλων ώστε να ταιριάζουν στην τρέχουσα γλώσσα
Comment[en_GB]=Update common folders names to match current locale
Comment[es]=Actualizar los nombres comunes de las carpetas para coincidir con la configuración regional actual
Comment[eu]=Eguneratu karpeta arrunten izenak uneko lokalearekin bat etortzeko
Comment[fi]=Päivitä vakiokansioiden nimet nykyisten kieliasetusten perusteella
Comment[fr]=Mettre à jour les noms des dossiers courants pour correspondre à la langue (« locale ») actuelle
Comment[hu]=Általános mappanevek frissítése a jelenlegi területi beállításra
Comment[it]=Aggiorna i nomi di cartella comuni in base alla lingua in uso
Comment[ja]=標準フォルダの名前を現在の言語に合わせて更新します
Comment[ka]=საერთო დასტების ენის მიხედვით განახლება
Comment[ko]=현재 로캘에 맞게 공통 폴더의 이름을 바꿉니다
Comment[lt]=Atnaujinti standartinių aplankų vardus pagal nustatytą lokalę
Comment[nb]=Oppdater navn på vanlige mapper til aktivt språk
Comment[pl]=Aktualizowanie nazw folderów do bieżących ustawień językowych
Comment[ps]=د ټولګړو پوښېو نومونه اوسمهالول چې د اوسنۍ ځاييزونې سره ساري شي
Comment[pt]=Actualizar os nomes de pastas comuns para corresponderem ao idioma actual
Comment[pt_BR]=Atualiza o nome de pastas comuns para se adequar à localização atual
Comment[sk]=Aktualizovať bežné priečinky aby sa zhodovali s aktuálnym jazykom
Comment[sq]=Përditëso emrat e kartelave të zakonshme në bazë të gjuhës në përdorim
Comment[sv]=Uppdatera vanliga mappnamn för att passa aktuell lokal
Terminal=false
OnlyShowIn=GNOME;LXDE;
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
