
[Desktop Entry]
Name=Xfce Power Manager
Name[ast]=Alministrador d'enerxía de Xfce
Name[ca]=Gestor d'energia de Xfce
Name[cs]=Správce napájení pro Xfce
Name[da]=Strømstyring til Xfce
Name[de]=Energieverwaltung für Xfce
Name[el]=Διαχειριστής ρεύματος xfce
Name[es]=Administrador de energía de Xfce
Name[et]=Xfce vooluhaldur
Name[eu]=Xfce energia kudeatzailea
Name[fi]=Xfce:n virranhallinta
Name[fr]=Gestionnaire d'alimentation
Name[gl]=Xestor de enerxía de Xfce
Name[hu]=Xfce energiakezelő
Name[id]=Manajer Daya Xfce
Name[it]=Gestore di energia di Xfce
Name[ja]=Xfce 電源管理
Name[nb]=Xfce Strømstyring
Name[nl]=Xfce Energiebeheer
Name[pt]=Gestão de Energia Xfce
Name[pt_BR]=Gerenciador de energia do Xfce
Name[ru]=Менеджер питания Xfce 
Name[sk]=Správca napájania pre Xfce
Name[sv]=Strömhanterare för Xfce
Name[tr]=Xfce Güç Yöneticisi
Name[uk]=Менеджер живлення Xfce
Name[ur]=ایکسفس توانائی منیجر
Name[ur_PK]=ایکسفس توانائی منیجر
Name[zh_CN]=Xfce 电源管理器
Comment=Power management for the Xfce desktop
Comment[ast]=Alministrador d'enerxía pal escritoriu Xfce
Comment[ca]=Gestor d'energia per l'escriptori Xfce
Comment[cs]=Správa napájení pro prostředí Xfce
Comment[da]=Strømstyring til skrivebordsmiljøet Xfce
Comment[de]=Energieverwaltung für den Xfce Desktop
Comment[el]=Διαχείριση ρεύματος για την επιφάνεια εργασίας του xfce
Comment[es]=Administrador de energía para el escritorio Xfce
Comment[eu]=Xfce mahaigain inguruneko energia kudeatzailea
Comment[fr]=Gestion d'alimentation pour l'environnement de bureau Xfce
Comment[gl]=Xestión de enerxía para o escritorio Xfce
Comment[hu]=Energiagazdálkodás az Xfce környezetben
Comment[id]=Manajemen daya untuk desktop Xfce
Comment[it]=Gestione dell'energia per l'ambiente Xfce
Comment[ja]=Xfce デスクトップ用電源管理
Comment[pt]=Gestão de energia para o ambiente Xfce
Comment[ru]=Управление питанием для окружения рабочего стола Xfce 
Comment[sk]=Správa napájania pre prostredie Xfce
Comment[tr]=Xfce masaüstü için güç yönetimi
Comment[ur]=توانائی منیجر پرائے ایکسفس ڈیسک ٹاپ
Comment[ur_PK]=توانائی منیجر پرائے ایکسفس ڈیسک ٹاپ
Comment[zh_CN]=Xfce 桌面的电源管理器
Icon=xfpm-ac-adapter
Exec=xfce4-power-manager
Terminal=false
Type=Application
OnlyShowIn=XFCE;LXDE;
StartupNotify=false
